$bg-color: #1a191f;
$white-color: #ffff;
$category-color: #ffd80e;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 60px;
}

.header__logo {
    text-decoration: none;
    font-size: 32px;
    color: $white-color;
}

.header__search {
    outline: none;
    padding: 5px 7px;
    border: none;
    border-radius: 3px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    width: 240px;
    margin: 10px;
    position: relative;

    &__cover-inner {
        position: relative;
        height: 360px;
    }

    &__cover {
        &-img {
            max-width: 100%;
            height: 100%;
        }
        &--darkened {
            background-color: rgb(0, 0, 0);
            opacity: 0.15;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            max-width: 100%;
            height: 100%;
            z-index: 1;
        }
        &--darkened:hover {
            background-color: rgb(138, 138, 138);
            cursor: pointer;
        }
    }

    &__info {
        padding: 10px 0;
    }
    &__title {
        font-size: 16px;
        color: $white-color;
    }
    &__category {
        font-size: 14px;
        color: $category-color;
    }
    &__average {
        color: $white-color;
        background-color: $bg-color;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        height: 36px;
        width: 36px;

        display: flex;
        justify-content: center;
        align-items: center;
        &--green {
            border: 1px solid green;
        }
        &--orange {
            border: 1px solid orange;
        }
        &--red {
            border: 1px solid red;
        }
    }
}
